*{
    box-sizing: border-box;
}
html{
    height: 100%;
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    font:1.4em/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;
}
img{
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
}

/* wwwwwwwwwwwwwwwwwwwwwwwww LAYOUT wwwwwwwwwwwwwwwwwwwwwwwww */
.ev_container{
    /*width: 640px;*/
    /*width:50%;*/
    min-height: 100%;
    display: flex;

    flex-direction: column;
    align-content: stretch;


    /*border: 1px red solid;*/
    box-sizing: content-box;
    margin: 0 auto;
    position: relative;
}
.ev_container > div{
    width: 100%;
    flex: 0 1 auto;
    align-self: auto;
    position: relative;
}
div.visuel_client{
    /*border: 1px gold solid;*/
}
div.visuel_video{
    /*border: 1px orange solid;*/
    text-align: center;
    background: black;
}
div.visuel_video iframe{
    vertical-align: middle;
}
div.visuel_form{
    /*border: 1px tomato solid;*/
    padding: 8px;
    background: black;
}
div.visuel_map{
    /*border: 1px lightseagreen solid;*/
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
}
.visuel_form.visu2{
    order: 2;
}
.visuel_map.visu1{
    order: 1;
}
#map {
    /*border: 1px deeppink solid;*/
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y:auto;

    /* source bug height webkit : http://jsfiddle.net/poztin/MFHj7/1/*/
}

/* source flex : http://the-echoplex.net/flexyboxes/
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

/* wwwwwwwwwwwwwwwwwwwwwwwww ICONS wwwwwwwwwwwwwwwwwwwwwwwww */
i{
    font-style: normal;
}
.icon_fullscreen{
    width: 12.1875%; /* 78px; */
    padding-bottom: 9.375%; /* 60px; */
    background: url("../img/deco/icon_fullscreen.svg");
    background-size: 100% 100%;
    position: absolute;
    bottom: 1.8%;
    right: 1.5%;
}
.icon_fullscreen.top{
    bottom: auto;
    top: 1.8%;
    /*border: 2px solid indigo;*/
}


.icon_x_mark{
    width:6.25%; /*40px de 640;*/
    padding-bottom: 6.25%;
    background: url("../img/deco/icon_x_mark.svg");
    background-size: 100% 100%;
    /*border: 1px crimson solid;*/
    position: absolute;
    z-index: 1;
    top: 1%;
    left: 2%;
}
.icon_close_shop{
    width:6.25%; /*40px de 640;*/
    padding-bottom: 6.25%;
    background: url("../img/deco/icon_x_mark_gray.svg");
    background-size: 100% 100%;
    /*border: 1px pink solid;*/
    float: left;
}
.icon_map{
    width:6.25%; /*40px de 640;*/
    padding-bottom: 6.25%;
    background: url("../img/deco/icon_map.svg");
    background-size: 100% 100%;
    /*border: 1px lime solid;*/
    float: right;
    margin-left: 2%;
}
.icon_phone{
    width:6.25%; /*40px de 640;*/
    padding-bottom: 6.25%;
    background: url("../img/deco/icon_phone.svg");
    background-size: 100% 100%;
    /*border: 1px green solid;*/
    float: right;
    margin-left: 2%;
}


/* wwwwwwwwwwwwwwwwwwwwwwwww FORM wwwwwwwwwwwwwwwwwwwwwwwww */
button, input {
    margin: 0;
    font: inherit;
    color: inherit;
}
.form_control {
    display: inline-block;
    vertical-align: middle;
    width: 88.5%;
    /*height: 34px;*/
    padding: 8px 12px;
    font-size: 1.7em;
    line-height: 1.5;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form_control:focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.btn.search {
    display: inline-block;
    width: 9.2%;
    border: none;
    padding-bottom: 7.5%; /*48px;*/
    margin-bottom: 0;
    margin-left: 1.2%;
    /*line-height: 1.5;*/
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background: url("../img/deco/icon_magnifier_white.svg") no-repeat;
    background-size: 80% auto;
    background-position: center;
}

/* wwwwwwwwwwwwwwwwwwwwwwwww ENCART SHOP wwwwwwwwwwwwwwwwwwwwwwwww */
.ev_shop{
    /*border: 2px orange solid;*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    overflow: hidden;
    padding: 2%;
}
.ev_shop .title{
    color: red;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding-left: 1em;
    overflow: hidden;
}
.ev_shop .adress{
    color: #555555;
    font-size: .9em;
    margin: 0;
    padding-left: 1em;
    overflow: hidden;
}




.close{
    display: none;
}
/*BEN CSS pour les markers de la map*/
.marker {
    /*background-color: tomato;*/
    width: 16px;
    height: 16px;
    /*border-radius: 8px;*/
    /*border: 1px tomato solid;*/
}
.marker.mk_shop path{
    fill: midnightblue;
}
.marker.mk_user path{
    fill: red;
}