*{
    box-sizing: border-box;
}
html{
    height: 100%;
    font-size: 62.5%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    font:1.4em/1.2 "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #000000;
}
img{
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
}

/* wwwwwwwwwwwwwwwwwwwwwwwww LAYOUT wwwwwwwwwwwwwwwwwwwwwwwww */
.ev_container{
    /*width: 640px;*/
    /*width:50%;*/

    width: 100%; /*ajout pour ff*/

    min-height: 100%; /*marche partout sauf IE */

    /*  un-prefixed
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;*/

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;

    /*border: 1px pink solid;*/
    /*box-sizing: content-box;*/
    margin: 0 auto;
    position: relative;
}
.ev_container > div{
    width: 100%;

    /*  unprefixed
    order: 0;
    flex: 0 1 auto;
    align-self: stretch;*/

    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /*flex: 0 0 0%;*/

    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;

    position: relative;
}
div.visuel_client{
    /*border: 1px gold solid;*/
}
div.visuel_video{
    /*border: 1px orange solid;*/
    text-align: center;
    background: black;
}
div.visuel_video iframe{
    vertical-align: middle;
    width: 100%;
    max-height: 200px; /*pour Iphone6*/
}
div.visuel_form{
    /*border: 1px tomato solid;*/
    padding: 8px;
    background: black;
}
div.visuel_map{
    /*border: 1px lightseagreen solid;*/
    /* unprefixed
    flex: 1 1 auto;*/
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
     flex: 1 1 auto;
    /*flex: 1 0 0%;*/

    position: relative;
}
.visuel_form.visu2{
    /* unprefixed
        order: 1;
    */

    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;

}
.visuel_map.visu1{
    /* unprefixed
        order: 0;
    */

    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;

}
#map {
    /*border: 1px greenyellow solid;*/
    position: absolute;
    height: 100%;
    width: 100%;
    overflow-y:auto;

    /* source bug height webkit : http://jsfiddle.net/poztin/MFHj7/1/*/
}

/* source flex : http://the-echoplex.net/flexyboxes/
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
*/

/* wwwwwwwwwwwwwwwwwwwwwwwww ICONS wwwwwwwwwwwwwwwwwwwwwwwww */
i{
    font-style: normal;
    vertical-align: middle;
}
.icon_fullscreen{
    width: 12.1875%; /* 78px; */
    padding-bottom: 9.375%; /* 60px; */
    background: url("../img/deco/icon_fullscreen.svg");
    background-size: 100% 100%;
    position: absolute;
    bottom: 1.8%;
    right: 1.5%;
}
.icon_fullscreen.top{
    bottom: auto;
    top: 1.8%;
    /*border: 2px solid indigo;*/
}

.icon_x_mark{
    width:6.25%; /*40px de 640;*/
    padding-bottom: 6.25%;
    background: url("../img/deco/icon_x_mark.svg");
    background-size: 100% 100%;
    /*border: 1px crimson solid;*/
    position: absolute;
    z-index: 2;
    top: 1%;
    left: 2%;
}
.icon_close_shop{
    width:6.25%; /*40px de 640;*/
    padding-bottom: 6.25%;
    background: url("../img/deco/icon_x_mark_gray.svg");
    background-size: 100% 100%;
    /*border: 1px pink solid;*/
    float: left;
    margin-top: 1.8%;
}
.icon_map{
    /*width:6.25%;*/ /*40px de 640;*/
    width:9.375%; /*62px de 640;*/
    padding-bottom: 9.21875%;  /*59px de 640;*/
    background: url("../img/deco/icon_map.svg");
    background-size: 100% 100%;
    /*border: 1px lime solid;*/
    float: right;
    margin-left: 2%;
}
.icon_phone{
    font-style: normal;
   /* width:6.25%;*/ /*40px de 640;*/
    width: 4.84375%; /*31px de 640;*/
    /*padding-bottom: 9.6875%; *//*62px de 640;*/
    padding-bottom: 9.21875%;  /*59px de 640;*/
    background: url("../img/deco/icon_phone.svg");
    background-size: 100% 100%;
    /*border: 1px green solid;*/
    float: right;
    margin-left: 2%;
    margin-top: .5%;
}


/* wwwwwwwwwwwwwwwwwwwwwwwww FORM wwwwwwwwwwwwwwwwwwwwwwwww */
button, input {
    margin: 0;
    font: inherit;
    color: inherit;
}
.form_control {
    display: inline-block;
    vertical-align: middle;
    width: 88%;

    /*padding: 8px 12px;
    font-size: 1.7em;
    line-height: 1.75;*/

    padding: 6px 12px;
    font-size: 1.3em;
    line-height: 1.35;

    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
.form_control:focus {
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.btn.search {
    display: inline-block;
    /*width: 9.2%;*/ /* 21px */
    width: 8.8%;
    max-height: 80px;
    border: none;

    /*padding-bottom: 7.5%;*/ /* 48px; */
    padding-bottom:  5.9375%; /* 38px; */

    margin-bottom: 0;
    margin-left: 1.2%;
    /*line-height: 1.5;*/
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    background: url("../img/deco/icon_magnifier_white.svg") no-repeat;
    background-size: contain;
    background-position: center;
}

/* wwwwwwwwwwwwwwwwwwwwwwwww ENCART SHOP wwwwwwwwwwwwwwwwwwwwwwwww */
.ev_shop{
    /*border: 2px orange solid;*/
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    overflow: hidden;
    padding: 2%;
}
.ev_shop .title{
    /*color: red;*/
    color: green;
    /*font-size: 1em;*/
    font-size: .9em;
    font-weight: normal;
    margin: 0;
    padding-left: 1em;
    overflow: hidden;
}
.ev_shop .adress{
    color: #555555;
    /*font-size: .9em;*/
    font-size: .8em;
    margin: 0;
    padding-left: 1em;
    overflow: hidden;
}




.close{
    display: none;
}
/* BEN CSS pour les markers de la map */
.marker {
    /*background-color: tomato;*/
    width: 32px;
    height: 32px;
    /*border-radius: 8px;*/
    /*border: 1px tomato solid;*/
}
.marker.mk_shop path{
    fill: midnightblue;
}
.marker.mk_user path{
    fill: red;
}

/* ALERT ZONE*/

.alert_zone{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.alert_box{
    background: white;
    border-radius: 20px;
    padding: 10% 5%;
    font-size: 1.8em;
    width: 60%;
    height: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -15%;
    left: 50%;
    margin-left: -30%;

   /* top: calc(50% - 15%);
    left: calc(50% - 30%);*/
    /*
    top: -webkit-calc(50% - 20%);
    left: -webkit-calc(50% - 20%);
    top: -moz-calc(50% - 20%);    left: -moz-calc(50% - 20%);*/
}

.alert_box .icon_x_mark{
    background-image: url("../img/deco/icon_x_mark_gray.svg");
    width: 10%;
    padding-bottom: 10%;

    top: -10px;
    right: -10px;
    left: auto;
}


/* SPECIFIQUE IE 10 + */
/* https://philipnewcomer.net/2014/04/target-internet-explorer-10-11-css/
https://github.com/philipwalton/flexbugs
https://msdn.microsoft.com/fr-fr/library/ie/dn265027%28v=vs.85%29.aspx
https://css-tricks.com/boxes-fill-height-dont-squish/
*/

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .ev_container{
        /*height: 100vh; ok marche aussi bien que height 100% sur IE11 mais pas sur IOS*/
        height: 100%; /*pour IE10 et 11*/
    }
    #map{
        /* position: static; */
        /*border: 1px deeppink solid;*/
    }
}

/* orientation iOS font-size fix */
@media (orientation: landscape) and (max-device-width: 768px) {
    html,
    body {
        -webkit-text-size-adjust: 100%;
    }
}


/* SPECIFIQUE Ipad 1 et 2 
http://www.paulund.co.uk/ios-media-queries-boilerplate
*/
/*@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1)
{
    .marker {
        background-image: url("../img/deco/markers/icon_location.svg");
    }
}*/
